
# Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebooks
.ipynb_checkpoints

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Project specific
*.csv
!Project/GOOG_2009-2010_6m_RAW_1d.csv
reburic.txt
